# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore local datasets
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Mac
.DS_Store
